	<div id="footer">
		<p class="info">This is a demonstration of the <a href="https://github.com/fiatjaf/lnurl-rfc">LNURL</a> protocol.<br>See <a href="https://github.com/fiatjaf/awesome-lnurl#wallets">list of apps</a> that support it.</p>
		<div id="audio">
			<audio autoplay controls loop>
				<source src="audio/music/a_healthy_dystopia.ogg" type="audio/ogg">
				<source src="audio/music/a_healthy_dystopia.mp3" type="audio/mpeg">
			</audio>
		</div>
		<p class="author">Created by <a href="https://degreesofzero.com/">chill1</a></p>
	</div>

	<script src="/js/all.js?v={{version}}"></script>

</body>
</html>