<div id="mrprism">
	<div class="body">
		<img src="images/paralelni-polis-logo.svg">
		<div class="eye">
			<div class="eyelid"></div>
			<div class="eyeball"></div>
			<div class="pupil"></div>
		</div>
	</div>
	<p class="propaganda">Privacy is a <span class="x">privilege<b>right.</b></span></p>
</div>
<div id="pay">
	<p class="propaganda">Want to feel<br>privacy again?</p>
	<div class="qrcode-wrap">
		<div class="qrcode"></div>
	</div>
	<p class="propaganda">Feed it bitcoin<br>to make it sleep...</p>
</div>
<div id="watch">
	<p class="propaganda"><span class="x">Watch what you say<b>Say what you think.</b></span></p>
	<div class="video-frame">
		<img class="tv-static" src="images/tv-static.gif">
		<div class="video-cover"></div>
		<video class="webcam" autoplay="true"></video>
		<video class="dream" width="640" height="480" autoplay muted preload loop>
			<source src="video/rainbow_astronaut.mp4" type="video/mp4">
			<source src="video/rainbow_astronaut.ogv" type="video/ogg">
			<source src="video/rainbow_astronaut.webm" type="video/webm">
		</video>
	</div>
	<p class="propaganda"><span class="x">Watch what you hear<b>Be free.</b></span></p>
</div>